<template>
  <div repeat.for="radio of items" class="o-radio ${$parent.selected === radio.value ? 'o-radio--active' : ''}">
    <label class="o-radio__label" for="${radio.name}_${radio.value}">
      <div class="o-radio__box">
        <input type="radio" id="${radio.name}_${radio.value}" class="o-radio__input" name.bind="radio.name" value.bind="radio.value" checked.bind="$parent.selected"/>
        <div class="o-radio__check"></div>
      </div>
      ${radio.label}
    </label>
  </div>
</template>